<ul class="sidebar">
    <li class="sidebar-main">
        <a href="" ng-click="menuCtrl.toggleSidebar()">
            MENÚ
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
    </li>
    <li class="sidebar-title"><span>NAVEGACIÓN</span></li>
    <li class="sidebar-list" ng-repeat="menu in menuCtrl.listMenu">
        <a ui-sref="{{menu.sref}}">{{::menu.name}}<span class="menu-icon fa" ng-class="menu.icon"></span></a>
    </li>
</ul>
<div class="sidebar-footer">
    <div class="col-xs-12">
        <div class="pull-right">
            <a href="http://www.bgue.es/" target="_blank">
                Bgue
            </a>
        </div>
    </div>
</div>